*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(100,000, 20, 0.2);

}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar-brand {
    margin-inline: 20px;
    margin-bottom: 10px;
    color: rgba(00,40,00,0.5);
    font-weight: 400;
}

.nav_wrap {
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    width: 1450px;
    justify-content: space-between
}

.link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    align-self: center;
    white-space: nowrap;
}

.logo {
    width: 30px;
    height: 30px;
    color: rgba(100,000, 20, 0.5);
}

.weights {
    width: 400px;
    height: 350px;
    align-self: center;
}

.text {
    max-width: 500px;
    margin-bottom: 20px;
    align-self: center;
}

.employees {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
  
}
.employee_wrap {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
}

.employee_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employee1 {
    width: 240px;
    height: 200px;
}

.employee2 {
    width: 200px;
    height: 180px;
    margin-top: 20px;
}

.employee3 {
    width: 300px;
    height: 200px;
}

.employee4 {
    width: 200px;
    height: 250px;
}


.employee-text {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
   
}


.footer {
    display: flex;
    background-color: rgba(10,00,60, 0.2);
    justify-content: space-between;
    align-items: center;
}


.footer_items {
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 20px;
    font-size: 12px;
  
}

.footer_item {
    flex-direction: column;
}
.nav-link {
    color: #ffffff;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    padding:0;
    margin: 0;
    text-decoration: none;
}

    .nav-link:hover {
        color: #ffffff;
        opacity: 0.6;
    }

.link:hover {
    opacity: 0.5;
}


.socials {
    display: flex;
    flex-direction: row;
    margin-inline: 0 30px;
    gap: 30px;
    right: 0;
    align-items: center;
}

a {
    color: #000;
}
    a:active {
        color: mistyrose;
        opacity: 0.5;
    }
    a:focus {
        color: mistyrose;
        opacity: 0.5;
    }
    a:hover {
        color: #ffffff;
        opacity:0.8;
    }


.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;

}
input {
    border-color: transparent;
    border-radius: 8px;
    padding: 10px, 20px;
 

    width: 300px;
    height: 40px;
}

input[placeholder] {
    font-size: 10px; 
    padding-left: 10px;
    

}
  
input:focus {
    outline: none;
}
button {
    border-color: transparent; 
    border-radius: 8px;
    background-color: rgba(00,40,00,0.5);
    color: #ffffff;
    height: 40px;
    width: 200px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: rgba(0,0,0,0.5);
    padding-bottom: 2px;
}

    button:hover {
        opacity: 0.5;
    }

.form-input {
    display: flex;
    flex-direction: row;
    gap: 10px;
}