@{
    ViewData["Title"] = "Index";
}




<head>
    <link alt="stylesheet" src="~/css/StyleSheet.css" />
    <title>Contact</title>
</head>


<body>
    <div class="text-center">
        @if (ViewBag.ContactSuccess)
        {
            <h6 style="color: rgba(00,40,00,0.5);">Tack för din kontakt!</h6>
        }



        <h1 class="display-4">Kontakt</h1>
        <p><strong>Mail:</strong> Lorem@gmail.com</p>
        <p><strong>Nummer:</strong> 0789929292</p>
        <p> <strong>Address:</strong> Birger Jarlsgatan 20 Östermalm Stockholm <a asp-area="" asp-controller="Contact" asp-action="Map"> Se Karta</a></p>

     
       

    </div>
    
    <div style="margin-top: 20px"class="text-center">
        <h4>Kontakta oss</h4>
        <form class="form" method="post" asp-action="PostContact">

            <div class="form-input">
                <label name="Namn" class="control-label"></label>
                <input name="Namn" placeholder="Namn" />

            </div>
            <div class="form-input">
                <label name="Email" class="control-label"></label>
                <input name="Email"  placeholder="Email" />

            </div>

            <button>Skicka</button>
        </form>


    </div>
</body>





