
@{
    ViewData["Title"] = "Index";
}


<head>
    <link alt="stylesheet" src="~/css/StyleSheet.css" />
    <title>Om oss</title>
</head>
<body>
<div class="text-center" style="display:flex; flex-direction: column;">

    <h1 class="display-4">Om oss </h1>
    <p class="text"> Välkommen till Träning.nu! Vi är ett företag som erbjuder träningstillfällen till alla. Vår vison är motion, glädje och styrka. 
         För att kontakta oss gå till Kontakt och fyll i formuläret.  </p>

        <img class="weights" src="~/lib/Img/Weights.jpg" />
</div>
</body>


